@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

html, body, #app{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

html, body, button, input, ul, li, p{
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    &.login{
        
    }
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    gap:20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.back_control{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    gap: 10px;
    background-color: transparent;
    border: unset;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
        svg{
            fill: #0c59cc;
        }

         p{
            color: #0c59cc;
         }
    }

    svg{
        width: 30px;
        height: 30px;
        fill: #fff;
    }

    p{
        color: #fff;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
    }
}

.logo{
    gap: 10px;
    margin-bottom: 20px;

    p{
        font-family: "Black Han Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #fff;
        font-size: 70px;
        font-weight: border;
        margin: 0px;
    }
}

.icon_inside_input_root{
    display: flex;
    align-items: center;
    position: relative;

    > .input_box_type_1{
        width: 370px !important;
        padding-right: 50px;
    }
    
    > input + .input_inner_icon{
        color: #fff;
        position: absolute;
        right: 16px;
    }

    .chk_btn{
        position: absolute;
        right: 7px;
        padding: 10px;
    }
}

.input_box_type_1{
    color: #fff;
    font-size: 14px;
    padding: 16px 20px;
    border: none;
    background-color: rgba(255, 255, 255, .2);;
    border-radius: 100px;
    width: 400px;

    &::-webkit-input-placeholder {
        color: #fff; // Webkit 브라우저 (Chrome, Safari 등)
    }
    &:-moz-placeholder {
        color: #fff; // Mozilla Firefox 18 이하 버전
    }
    &::-moz-placeholder {
        color: #fff; // Mozilla Firefox 최신 버전
    }
    &:-ms-input-placeholder {
        color: #fff; // Internet Explorer 10+
    }
}

button.btn{
    font-size: 14px;
    padding: 16px 20px;
    border-radius: 50px;
    border-color: #fff;
    border-style: none;
    cursor: pointer;

    &.btn_type_1{
        width: 440px;
        color: #1d72f2;
        background-color: rgba(255, 255, 255, .85);

        &:hover{
            // color: #fff;
            background-color: rgba(255, 255, 255, .6);
            // background-color: rgba(23, 73, 235, 1);
        }

        &:disabled{
            background-color: rgba(255, 255, 255, .2);
            cursor: unset;
        }
    }

    &.btn_type_2{
        width: 440px;
        color: #fff;
        box-shadow: 0 0 0 1px #fff inset;
        background-color: rgba(255, 255, 255, .1);

        &:hover{
            // color: #1d72f2;
            background-color: rgba(255, 255, 255, .2);
        }
    }
}